body {
	background: white !important;
	font-family: 'Helvetica Neue', Helvetica, Arial Geneva, sans-serif;
	font-weight: 400;
	font-size: 12px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

body {
	margin: 0px;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.main {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow: hidden;
	position: absolute;
}

.content {
	width: 100%;
	position: absolute;
	top: 0px;
	bottom: 0px;
	overflow: hidden;
	-moz-user-select: none;
}

.diagram-outter {
	position: absolute;
	top: 40px;
	right: 0px;
	bottom: 0px;
	left: 40px;
	overflow: hidden;
}

.diagram-control-outter {
	height: 40px;
	background: none repeat scroll 0% 0% white;
	border-bottom: 1px solid #E6E6E6;
}

.diagram-control {
	position: absolute;
	top: 10px;
	left: 10px;
}

.diagram-edit {
	background: none repeat scroll 0% 0% white;
	width: 100%;
	height: 100%;
}

.sidebar {
	position: absolute;
	z-index: 1000;
	display: block;
	width: 40px;
	top: 40px;
	bottom: 0;
	left: 0px;
	border-right: 1px solid #606668;
	background: none repeat scroll 0% 0% white;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	display: list-item;
}

a {
	outline: none;
}

.sidebar > ul {
	width: 100%;
}

.sidebar > ul > li {
	text-align: center;
}

.sidebar > ul > li > div {
	font-weight: bold;
	color: #ddd;
	text-decoration: none;
	display: block;
	position: relative;
	padding: 15px 0;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	background: #404648;
	cursor: pointer;
}

.sidebar > ul > li > div:hover {
	background: #2F3233;
}

.sidebar > ul > li > div.active {
	background: #2F3030;
	border: 1px solid #313636;
}

.side-pane {
	height: 100%;
	position: absolute;
	left: 0;
	top: 40px;
	display: block;
	overflow: auto;
	background: none repeat scroll 0px 0px rgb(250, 250, 250);
	border-right: 1px solid rgba(0, 0, 0, 0.15);
	color: #444;
}

.diagram-viewer {
	position: absolute;
	height: 2000px;
	width: 1200px;
	top: 0px;
	left: 100px;
	overflow: auto;
}

