body {
	background: white !important;
	font-family: 'Helvetica Neue', Helvetica, Arial Geneva, sans-serif;
	font-weight: 400;
	font-size: 12px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

body {
	margin: 0px;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
